<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Two Shoppng List</title>
    <script src="javascript/angular.min.js"></script>
    <script type="text/javascript" src="javascript/app4.js"></script>
  </head>
  <body ng-app="Sapp">
    <div ng-controller="createList as ctrl1">
      <input type="text" placeholder="name" ng-model="ctrl1.name">
      <input type="text" placeholder="quantity" ng-model="ctrl1.quantity">
      <button type="button" ng-click="ctrl1.ADD()">ADD item</button>
        <ol>
          <list-directive item-list="ctrl1"></list-directive>
        </ol>
    </div>
    <div ng-controller="showList as ctrl2">
      <input type="text" placeholder="name" ng-model="ctrl2.name">
      <input type="text" placeholder="quantity" ng-model="ctrl2.quantity">
      <button type="button" ng-click="ctrl2.ADD()">ADD item</button>
        <ol>
          <list-directive item-list="ctrl2"></list-directive>
        </ol>
        <div ng-if="ctrl2.errorMessage">ERROR:{{ctrl2.errorMessage}}</div>
    </div>
  </body>
</html>
